[
{rabbit, [{disk_free_limit, 5242880}
          ,{channel_max, 0}
          ,{vm_memory_high_watermark, 0.8}
          ,{loopback_users, []}
          ,{collect_statistics_interval, 30000}
         ]}
,{rabbitmq_management, [{rates_mode, basic}]}
,{rabbitmq_management_agent, [{rates_mode, basic}]}
].
